pre { font-family:courier,fixed }
input { text-transform:none; }
a:link { text-decoration:none }
a:hover { text-decoration:underline }

#bottom { position:relative; padding:5px; background:#eee; border-top:1px solid black; text-align:center }
#job_filter_box { float:right }
#job_filter_bar { padding:5px; margin-top:10px; }
#job_control_extra { position:relative; padding:5px; margin:5px; text-align:right; vertical-align:middle }
#event_count { position:absolute; bottom:5px; right:5px; color:#999; white-space:nowrap }

table.render { border:1px solid #555 }
table.render th { background:#ddd; padding-left:2px; padding-right:2px }
table.render td { background:#f5f5f5; padding-left:2px; padding-right:2px }
table.render .row_even td { background:#f5f5f5; padding-left:2px; padding-right:2px }
table.render .row_odd td { background:#ededed; padding-left:2px; padding-right:2px }
table.render .row_clear td { background:#fff }
table.render tr:hover td { color: #393 }
table.render tr:hover a:link { color: #393 }
table.render tr:hover a:visited { color: #393 }
table.render tr a.selected, table.render tr:hover a.selected { text-decoration:none;font-weight:bold; color:black;cursor:default }
table.lrtable { width:100% }
table.lrtable td { width:50px; text-align:center; border:1px solid #ccc }

table.profile { width:100% }
table.profile tr:hover td { color: #369; background: #8ff; border-bottom:1px solid #999 }
table.profile tr:hover a:link { color: #369 }
table.profile tr:hover a:visited { color: #369 }
table.profile th { background:#999; white-space:nowrap }
table.profile td { background:#eee; border-bottom:1px solid #eee; white-space:nowrap }

table label { background-color:#eee; border:1px solid #ccc; padding:1px; padding-left:3px; padding-right:3px; margin-left:2px }

#sel_job { display:none }

#job_log { position:relative; width:99%; height:100%; border:1px solid black; margin:5px; display:none }
#job_log_control { position:relative; padding:3px }
#job_log_border { position:relative; margin-left:5px; margin-right:5px; margin-bottom:5px; border:1px dashed gray; padding:5px }
#job_log_detail { position:relative; height:300px; overflow:auto; font-family:monospace; white-space:pre-wrap }

#host_detail { width:100%; height:100%; border-spacing:0px; border:0px; margin:0px; padding:0px; }
#host_logs_border { display:none; margin-left:5px; border: 1px solid gray; padding:5px; overflow:auto }
#host_tasks { display:none; }
#host_queue { display:none; }
#host_logs { width:100%; }

.center { text-align:center }
.right { text-align:right }
.warm { color:#a50; font-weight:bold }
.hot { color:#f00; font-weight:bold }
.lrpad { padding-left:5px; padding-right:5px; }
.num { text-align:right; font-family:courier,fixed }
.required_nodes { width:100px; overflow:hidden; float:left; white-space:nowrap }
.node_group { float:left; white-space:nowrap; border:1px solid #77c; margin:1px }
.hide_edit { font-size:18px; text-decoration:none; border:1px solid gray; padding-left:3px; padding-right:3px; background-color:#eee }
.scroll_area { height:100%; min-height:100%; position:relative; width:5px; border-collapse:collapse; }
.scroll_middle { width:5px; }
.boxit { border:1px solid #ddd; display:inline-block; padding-right:3px; padding-left:2px }

.new_bar { position:relative; padding:5px; margin:5px; text-align:left; vertical-align:middle }
.edit_window { z-index:10000 }
.table-title { font-weight:bold; padding:2px; margin-left:5px }
.tree-label { padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px }
.tree-data { padding:5px;  }
.tree-spacer { border-top:1px dashed gray; margin:5px; padding:5px }

#command_jobs { display:none; }
#command_edit { display:none; position:absolute; top:0px; width:100%; left:-1px; }
#command_submit { border: 5px solid #dd7d55; background:#fff; margin-left:auto; margin-right:auto; }

#alias_edit { display:none; position:absolute; top:0px; width:100%; left:-1px; }
#alias_submit { border: 5px solid #dd7d55; background:#fff; margin-left:auto; margin-right:auto; }

#macro_edit { display:none; position:absolute; top:0px; width:100%; left:-1px; }
#macro_submit { border: 5px solid #dd7d55; background:#fff; margin-left:auto; margin-right:auto; }

#job_profile { display:none; position:absolute; top:100px; width:100%; left:-1px; }
#job_profile_modal { border: 2px solid blue; background:#999; margin-left:auto; margin-right:auto; }
#job_profile_modal th { background:#ddd; }
#job_profile_modal td { background:#f5f5f5; }
#job_profile_table { height:500px; width:500px; overflow-y:scroll; }
#job_edit { display:none; position:absolute; top:0px; width:100%; left:-1px; }
#job_submit { border: 5px solid #dd7d55; background:#fff; margin-left:auto; margin-right:auto; }

#host_edit { display:none; position:absolute; top:0px; width:100%; left:-1px; }
#host_submit { border: 5px solid #dd7d55; background:#fff; margin-left:auto; margin-right:auto; }

#tab_commands { display:none }
#tab_macros { display:none }
#tab_alias { display:none }
#tab_jobs { display:none }
#tab_hosts { display:none }
#tab_zk { display:none }
#tab_mesh { display:none }
#job_nodes { display:none; }

.code_mirrored { width:800px; position:relative; }
.CodeMirror div { font-family:monospace; }

input#sel_job_id { width: 245px }
input#sel_job_desc { width: 245px }
