<!DOCTYPE html>
<html>
<head>
	<title id>Cluster Task Manager</title>
	<meta key="revision" value="$Revision$">
	<link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="../lib/common.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../lib/prettify.css"/>
	<link rel="stylesheet" href="spawn.css" type="text/css" />
	<link rel="stylesheet" href="codemirror/codemirror.css">
    <script type="text/javascript" src="../lib/jquery.js"></script>
	<script type="text/javascript" src="../lib/prototype.js"></script>
    <script type="text/javascript" src="../lib/prettify.js"></script>
	<script type="text/javascript" src="../lib/json2.js"></script>
	<script type="text/javascript" src="../lib/utf8.js"></script>
	<script type="text/javascript" src="../lib/date.js"></script>
    <script type="text/javascript" src="../lib/util.js"></script>
	<script type="text/javascript" src="codemirror/codemirror.js"></script>
	<script type="text/javascript" src="codemirror/javascript/javascript.js"></script>
	<script type="text/javascript">
		function toggle(element) {
    		document.getElementById(element).style.display = (document.getElementById(element).style.display == "none") ? "" : "none";
		}
	</script>
	
	<script type="text/javascript" src="graph/jquery.js"></script>
	<script type="text/javascript">
		$.noConflict();
	</script>
	<script type="text/javascript" src="graph/spawn-graph.js"></script>
	<script type="text/javascript" src="graph/spawn-flow.js"></script>
	<script type="text/javascript" src="filter.js"></script>
	<script type="text/javascript" src="spawn.js?cluster={{cluster}}"></script>

</head>
<body onload="Spawn.init()">
	<div id="top">Cluster Task Manager</div>
    <div id="middle">
        <table width="100%">
            <tr>
                <td id="left">
                    <div class="side-title">Edit</div>
                    <div class="side-panel">
                        <button id="btn_jobs" onclick="Spawn.showTab('jobs');">Jobs</button>
                        <button id="btn_macros" onclick="Spawn.showTab('macros');">Macros</button>
                        <button id="btn_commands" onclick="Spawn.showTab('commands');">Commands</button>
                        <button id="btn_alias" onclick="Spawn.showTab('alias');">Aliases</button>
                    </div>
                    <div class="side-separator"></div>
                    <div class="side-title">Browse</div>
                    <div class="side-panel">
                        <button id="btn_hosts" onclick="Spawn.showTab('hosts');">Hosts</button>
                        <button id="btn_mesh" onclick="Spawn.showTab('mesh');">Mesh</button>
                        <button id="btn_zk" onclick="Spawn.showTab('zk');">ZooKeeper</button>
                    </div>
                </td>
                <td id="center">
                    <div id="tab_commands">
                        <div class="new_bar"><button onclick="Spawn.newCommand()">+</button></div>
                        <div id="commands_list" class="lrpad"></div>
                        <div class="spacer"></div>
                        <div id="command_jobs" class="lrpad"></div>
                        <div id="command_edit" class="edit_window">
                            <form method="post" action="/XXX/command.put" target="_blank">
                                <table class="render" id="command_submit">
                                    <tr><th colspan=4 align=right><a class="hide_edit" href="#" onclick="Spawn.showEdit('command_edit',false);">X</a>&nbsp;</th></tr>
                                    <tr><th>label</th><td><input id="form_command_label" name="label" size=20 autocapitalize="off" autocorrect="off"></td></tr>
                                    <tr><th>command</th><td><textarea spellcheck=false onkeydown="return Spawn.captureKey(this,event)" id="form_command_list" cols="120" rows="10"></textarea></td></tr>
                                    <tr><th colspan=4>
                                        <input type="hidden" name="command" id="send_command_list">
                                        <input type="hidden" id="form_command_owner" name="owner">
                                        <input type="submit" value="Store Command" onclick="return Spawn.storeCommand()">
                                    </th></tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div id="tab_macros">
                        <div class="new_bar"><button onclick="Spawn.newMacro()">+</button></div>
                        <div id="macros_list" class="lrpad"></div>
                        <div id="macro_edit" class="edit_window">
                            <form method="post" action="/XXX/macro.put" target="_blank" id="form_macro_put">
                                <table class="render" id="macro_submit">
                                    <tr><th colspan=4 align=right><a class="hide_edit" href="#" onclick="Spawn.showEdit('macro_edit',false);">X</a>&nbsp;</th></tr>
                                    <tr><th>label</th><td><input id="form_macro_label" name="label" size=80 autocapitalize="off" autocorrect="off">
                                        <span style="float:right">
                                            <button onclick="$('form_bounce').style.display='';this.style.display='none';return false;">&lt;&lt;</button>
                                            <span id="form_bounce" style="display:none"> bounce to <input id='form_bounce_target' name="bounce" size=20></span>
                                        </span>
                                    </td></tr>
                                    <tr><th>description</th><td><input id="form_macro_desc" name="description" size="120" autocapitalize="off" autocorrect="off"></td></tr>
                                    <tr><th>macro</th><td><div id="code_macro" class="code_mirrored"></div><input id="form_macro_body" name="macro" type="hidden"></td></tr>
                                    <tr><th colspan=4>
                                        <input type="hidden" id="form_macro_owner" name="owner">
                                        <input type="submit" value="Store Macro" onclick="return Spawn.storeMacro()">
                                    </th></tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div id="tab_alias">
                        <div class="new_bar"><button onclick="Spawn.newAlias()">+</button></div>
                        <div id="alias_list" class="lrpad"></div>
                        <div id="alias_edit" class="edit_window">
                            <form method="post" action="/XXX/alias.put" target="_blank">
                                <table class="render" id="alias_submit">
                                    <tr><th colspan=4 align=right><a class="hide_edit" href="#" onclick="Spawn.showEdit('alias_edit',false);">X</a>&nbsp;</th></tr>
                                    <tr><th>alias</th><td><input id="form_alias_alias" name="alias" size=40 autocapitalize="off" autocorrect="off"></td></tr>
                                    <tr><th>job(s)</th><td><textarea id="form_alias_jobs_edit" name="job" cols="60" rows="5"></textarea></td></tr>
                                    <tr><th colspan=4>
                                        <input type="hidden" id="form_alias_jobs" name="jobs">
                                        <input type="submit" value="Store Alias" onclick="return Spawn.storeAlias()">
                                    </th></tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div id="tab_jobs">
                        <div class="new_bar">
                            <div id="job_filter_box">
                                filter <input id="form_filter" name="desc_filter" size=10 onKeyUp="Spawn.setJobFilter(null,event);return true;" autocapitalize="off" autocorrect="off">
                                <span id="filter_list"></span>
                                <button id="b_filt_run" onclick="Spawn.setJobFilter('RUN')">run</button>
                                <button id="b_filt_err" onclick="Spawn.setJobFilter('ERR')">err</button>
                                <button id="b_filt_done" onclick="Spawn.setJobFilter('DONE')">done</button>
                                <button id="b_filt_x" onclick="Spawn.clearJobFilter()">x</button>
                            </div>
                            <div>
                                <button onclick="Spawn.newJob()">+</button>
                                <span id="sel_job">
                                    <span class="spacer"></span>
                                    <input id="sel_job_id" readonly="true" size=64 />
                                    <span class="spacer"></span>
                                    <button id="sel_job_edit">edit</button>
                                    <span class="spacer"></span>
                                    <button id="sel_job_kick">kick</button>
                                    <button id="sel_job_stop">stop</button>
                                    <button id="sel_job_kill">kill</button>
                                    <span class="spacer"></span>
                                    <button id="sel_job_able">able</button>
                                    <button id="sel_job_clone">clone</button>
                                    <button id="sel_job_balance">rebalance</button>
                                    <span class="spacer"></span>
                                    <button id="sel_job_fsck">&#x2713; fs</button>
                                    <button id="sel_job_fsfix">fix fs</button>
                                    <button id="sel_job_delete">delete</button>
                                </span>
                            </div>
                        </div>
                        <div id="jobs_list" class="lrpad"></div>
                        <div class="spacer"></div>
                        <div id="job_detail" class="lrpad">
                            <div id="job_nodes"></div>
                            <div id="job_info">
                                <table class="render">
                                    <div class="table-title">Job Detail</div>
                                    <tr>
                                        <th>about</th>
                                        <td>
                                            <label>id</label><input readonly size="45" id="job-info-id">
                                            <label>creator</label><input readonly size="10" id="job-info-creator">
                                            <label>owner</label><input readonly size="10" id="job-info-owner">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>more</th>
                                        <td>
                                            <label>description</label><input readonly size="85" id="job-info-about">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>tasks</th>
                                        <td>
                                            <label>total</label><input readonly size="4" id="job-info-ttotal">
                                            <label>running</label><input readonly size="4" id="job-info-trun">
                                            <label>done</label><input readonly size="4" id="job-info-tdone">
                                            <label>errored</label><input readonly size="4" id="job-info-terror">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>disk</th>
                                        <td>
                                            <label>backups</label><input readonly size="4" id="job-info-tbackup">
                                            <label>replicas</label><input readonly size="4" id="job-info-treplica">
                                            <label>ro replicas</label><input readonly size="4" id="job-info-troreplica">
                                            <label>files</label><input readonly size="8" id="job-info-tfiles">
                                            <label>size</label><input readonly size="8" id="job-info-tsize">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>run</th>
                                        <td>
                                            <label>total runs</label><input readonly size="4" id="job-info-rtotal">
                                            <label>priority</label><input readonly size="4" id="job-info-rpriority">
                                            <label>rekick time (min)</label><input readonly size="5" id="job-info-rkick">
                                            <label>limit time (min)</label><input readonly size="5" id="job-info-rlimit">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>last</th>
                                        <td>
                                            <label>submit</label><input readonly size="12" id="job-info-rsubmit">
                                            <label>start</label><input readonly size="12" id="job-info-rstart">
                                            <label>end</label><input readonly size="12" id="job-info-rend">
                                            <label>duration (sec)</label><input readonly size="8" id="job-info-rspan">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="spacer clear"></div>
                        <div id="job_log">
                            <div id="job_log_control">
                                <label>log</label>
                                <div class="boxit">
                                    <input id="job_log_stdout" type="radio" name="std" value="out" onClick="Spawn.showJobLogs()" checked>stdout
                                    <input id="job_log_stderr" type="radio" name="std" value="err" onClick="Spawn.showJobLogs()">stderr
                                    &nbsp;
                                    <input id="job_log_head" type="radio" name="log" value="head" onClick="Spawn.showJobLogs()">head
                                    <input id="job_log_tail" type="radio" name="log" value="tail" onClick="Spawn.showJobLogs()" checked>tail
                                </div>
                                &nbsp;
                                <label>lines</label>
                                <input id="job_log_lines" size=6 onKeyUp="Spawn.updateJobLog(event); return false">
                            </div>
                            <div id="job_log_border">
                                <div id="job_log_detail"></div>
                            </div>
                        </div>
                        <div id="job_profile">
                            <table id="job_profile_modal">
                                <tr><th colspan=4 align=right><a class="hide_edit" href="#" onclick="Spawn.showEdit('job_profile',false);">X</a>&nbsp;</th></tr>
                                <tr><td><div id="job_profile_table"></div></td></tr>
                            </table>
                        </div>
                        <div id="job_edit" class="edit_window">
                            <form method="post" action="/XXX/job.submit" target="_blank">
                                <table class="render" id="job_submit" width="907px" height="400px">
                                    <tr>
                                        <th colspan=2 align=right style="overflow:hidden;padding-top:0px;">
                                            <div style="position:relative">
                                                <div style="width:100%;text-align:center;font-size:18px" id="job_edit_title">...</div>
                                                <div style="position:absolute;right:5px;top:0px">
                                                    <a class="hide_edit" href="#" onclick="Spawn.showEdit('job_edit',false);">X</a>&nbsp;
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>description</th>
                                        <td><input id="form_job_desc" name="description" size=120 autocapitalize="off" autocorrect="off"></td>
                                    </tr>
                                    <tr>
                                        <th>running</th>
                                        <td>
                                            <label>command</label> <select id="select_job_command" name="command"></select>
                                            <label>max time</label> <input id="form_job_maxrun" name="maxrun" size=5>
                                            <label>rekick interval</label> <input id="form_job_rekick" name="rekick" size=5>
                                            <label>priority</label> <input id="form_job_priority" name="priority" size=5>
                                            <label>minion type</label> <input id="form_job_minionType" name="minionType" size=5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>backups</th>
                                        <td>
                                            <label>hourly</label>
                                            <input id="form_job_hourlyBackups" name="hourlyBackups" size=5>
                                            <label>daily</label>
                                            <input id="form_job_dailyBackups" name="dailyBackups" size=5>
                                            <label>weekly</label>
                                            <input id="form_job_weeklyBackups" name="weeklyBackups" size=5>
                                            <label>monthly</label>
                                            <input id="form_job_monthlyBackups" name="monthlyBackups" size=5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>replicas</th>
                                        <td>
                                            <label>replicas</label>
                                            <input id="form_job_replicas" name="replicas" size=5>
                                            <label>read only</label>
                                            <input id="form_job_readOnlyReplicas" name="readOnlyReplicas" size=5>
                                            <label>don't balance</label>
                                            <input id="form_job_dontAutoBalanceMe" name="dontAutoBalanceMe" size=5>
                                            <label>max parallel</label>
                                            <input id="form_job_maxSimulRunning" name="maxSimulRunning" size=5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>query</th>
                                        <td>
                                            <label><input id="form_job_qc_canQuery" type="checkbox" checked> enable</label>
                                            <label><input id="form_job_qc_queryTraceLevel" type="checkbox"> trace</label>
                                            <label> c. failure threshold</label> <input id="form_job_qc_consecutiveFailureThreshold" name="qc_consecutiveFailureThreshold" size=5>
                                        </td>
                                    </tr>
                                    <tr id="tr_job_tasks">
                                        <th>tasks</th>
                                        <td>
                                            <table><tr>
                                                <td nowrap>
                                                    <label>count</label>
                                                    <input id="form_job_nodes" name="nodes" size=3 value=1>
                                                </td>
                                                <td nowrap><a href="javascript:toggle('select_job_hosts')">choose job hosts</a></td>
                                                <td nowrap><div id="select_job_hosts" style="display: none"></div></td>
                                            </tr></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>configuration</th>
                                        <td><div id="code_config" class="code_mirrored"></div><input id="form_job_conf" name="config" type="hidden"></td>
                                    </tr>
                                    <tr>
                                        <th>events</th>
                                        <td>
                                            <label>on success</label> <input id="form_job_ondone" name="ondone" size=31>
                                            <label>on fail</label> <input id="form_job_onerror" name="onerror" size=31>
                                            <label>kill match</label> <input id="form_job_logkill" name="logkill" size=31>
                                        </td>
                                    </tr>
                                    <tr id="tr_job_parameters">
                                        <th>parameters</th>
                                        <td id="form_job_params"></td>
                                    </tr>
                                    <tr><th colspan=2>
                                        <input type="hidden" name="id" id="send_id">
                                        <input type="hidden" name="hosts" id="send_hosts">
                                        <input type="hidden" name="spawn" id="send_spawn">
                                        <input type="hidden" name="enable" id="send_enable">
                                        <input type="hidden" name="qc_canQuery" id="send_queryOK">
                                        <input type="hidden" name="qc_queryTraceLevel" id="send_queryTrace">
                                        <input type="hidden" id="form_job_owner" name="owner">
                                        <input id="form_job_save" type="submit" value="Save" onclick="return Spawn.submitJob(false,false)">
                                        <input id="form_job_clone" type="submit" value="Clone" onclick="return Spawn.submitJob(true,false)">
                                        <input id="form_job_create" type="submit" value="Create" onclick="return Spawn.submitJob(true,false)">
                                        <input id="form_job_download" type="submit" value="Download" onclick="return Spawn.downloadJob()">
                                    </th></tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div id="tab_hosts">
                        <div class="new_bar"></div>
                        <div id="hosts_list" class="lrpad"></div>
                        <div class="spacer"></div>
                        <div id="host_tasks" class="lrpad"></div>
                    </div>
                    <div id="tab_zk" class="tree-nav">
                        <div class="new_bar"></div>
                        <label class="tree-label">path</label>
                        <div id="zk_path" class="lrpad tree-data"></div>
                        <div class="tree-spacer"></div>
                        <label class="tree-label">children</label>
                        <div id="zk_children" class="lrpad tree-data"></div>
                        <div class="tree-spacer"></div>
                        <label class="tree-label">value</label>
                        <div id="zk_value" class="lrpad tree-data"></div>
                    </div>
                    <div id="tab_mesh" class="tree-nav">
                        <div class="new_bar"></div>
                        <label class="tree-label">path</label>
                        <div id="mesh_path" class="lrpad tree-data"></div>
                        <div class="tree-spacer"></div>
                        <label class="tree-label">children</label>
                        <div id="mesh_children" class="lrpad tree-data"></div>
                        <div class="tree-spacer"></div>
                        <label class="tree-label">value</label>
                        <div id="mesh_value" class="lrpad tree-data"></div>
                    </div>
                    <div class="side-separator"></div>
                </td>
                <td id="right">
                    <div class="side-title">Control</div>
                    <div class="side-panel">
                        <button onclick="Spawn.refresh();return false;">Refresh</button>
                        <button onclick="Spawn.toggleQuiesce();return false;" id="quiesce">Quiesce</button>
                    </div>
                    <div class="side-separator"></div>
                    <div class="side-title">Settings</div>
                    <div class="side-panel">
                        <button onclick="Spawn.setUser()">User</button>
                        <button onclick="Spawn.setAuth()">Auth</button>
                        <button onclick="Spawn.setHost()">Host</button>
                    </div>
                    <div id="event_count">live</div>
                </td>
            </tr>
        </table>
    </div>
    <div id="bottom">
        <span><span>cluster </span><label id="status_cluster">-</label></span>
        <span><span>hosts </span><label id="status_hosts">-</label></span>
        <span><span>jobs </span><label id="status_jobs">-</label></span>
        <span><span>tasks </span><label id="status_tasks">-</label></span>
        <span><span>queued </span><label id="status_queued">-</label></span>
        <span><span>errored </span><label id="status_queued_error">-</label></span>
        <span><span>running </span><label id="status_running">-</label></span>
        <span><span>free slots </span><label id="status_avail_slots">-</label></span>
        <span><span>disk </span><a id="status_disk_title" title="0"><label id="status_disk_pct">-</label>%</a></span>
    </div>
</body>
</html>
