pre { font-family:courier,fixed }
a:link, a:visited, a:active { text-decoration:none }
a:hover { text-decoration:none; color:#fff; background-color:#55f }
td { vertical-align:top }

.num { text-align:right; font-family:courier,fixed }
.padme { padding:5px }
.cachetable table { border:1px solid gray; background-color:#fff }
.cachetable table tr { border:1px solid #ccc; background-color:#ddd }
.cachetable table td { border:1px solid #ddd; background-color:#eee }
.cachetable table td a { text-align:center }
.close_hosts { float:right }
.spacer { position:relative; width:10px; height:10px }

#conf { font-family:courier,fixed; font-size:small }
#mode { padding:5px; background:#ddd; border-bottom:1px solid black; text-align:center }
#setup { display:none } 
#cache { display:none } 
#running-queries { display:none }
#table_query input { text-transform:none; width:100% }
#table_queries { border:0px solid #555; width:100% }

#browse { position:relative; width:100% }
#browse-left { position:relative; width:33%; display:inline-block; vertical-align:top; min-width:400px }
#browse-right { position:relative; width:66%; display:inline-block; vertical-align:top; text-align:left; overflow:auto }

#queryinfo { overflow:auto }
#nodelist { overflow:auto }

#saved {
	overflow:auto;
	border:1px solid gray;
	height:110px;
}

#treenav {
	text-align:center;
	border:1px dashed gray;
}

.buttonbar {
	text-align:center;
	margin-top:3px;
	margin-bottom:3px;
}

#graph_options { text-align:center; margin-top:3px }
#graph_display { padding-top:5px }
#graph_config_table { margin-top:5px; margin-bottom:5px }
#graph_config_table th { width:5%; white-space:nowrap }
#graph_config_table input { width:100% }

.hd1 { background-color:#eee }
.tab { display:none }

.tab label {
	font-size:large;
	font-weight:bold;
	color:#734;
}

#runningqueries {
	padding-top:5px;
	padding-left: 5px;
	padding-right: 5px;
}

#completedqueries {
	padding-top:5px;
	padding-left: 5px;
	padding-right: 5px;
}

#completed { height: 60%; overflow:auto; }
#queries { height:60%; overflow:auto; }

div.status{
	position: relative;
	padding: 5px;
	background: #F3F3F3;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.status span {
	border: 1px solid #CCC;
	padding: 2px;
	background-color: #F4F4F4;
}

.status span span {
	border: 0px;
	font-weight: bold;
}

.status span label {
	border-left: 1px solid #BBB;
	border-top: 1px solid #BBB;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding-left: 3px;
	padding-right: 3px;
	background: white;
}

