<html>
<head>
    <title>Cluster Data Query</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="../lib/common.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="query.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/prettify.css"/>
    <script type="text/javascript" src="../lib/prototype.js"></script>
    <script type="text/javascript" src="../lib/prettify.js"></script>
    <script type="text/javascript" src="../lib/json2.js"></script>
    <script type="text/javascript" src="../lib/utf8.js"></script>
    <script type="text/javascript" src="../lib/date.js"></script>
    <script type="text/javascript" src="../lib/util.js"></script>
    <script type="text/javascript" src="query.js?cluster={{cluster}}"></script>
    <script language="javascript" type="text/javascript" src="flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="flot/jquery.flot.pie.js"></script>
    <script type="text/javascript">
        var _$ = jQuery.noConflict();
    </script>
</head>
<body onload="QM.init()">
    <div id="top" colspan="3">Cluster Data Query</div>
    <table width="100%" cellspacing="2" cellpadding="0">
        <tr>
            <td id="left">
                <div class="side-title">Query</div>
                <div class="side-panel">
                    <button id='b_browse' onclick="QM.showTab('browse');">Browse</button>
                    <button id='b_running-queries' onclick="QM.showTab('running-queries');">Running</button>
                    <button id='b_completed-queries' onclick="QM.showTab('completed-queries');">Cache</button>
                </div>
            </td>
            <td id="center">
                <div id="completed-queries" class="">
                    <div id="completed" class="cachetable"></div>
                    <div id="completedstatus" class="status" style="display:none;">
                        <span>
                            <span>uuid</span>
                            <label id="sel_compl_uuid"></label>
                        </span>
                        <span>
                            <span>job</span>
                            <label id="sel_compl_job"></label>
                        </span>

                        <a href="#" class="close_hosts" onclick="QM.closeCompletedHosts()">X</a>
                    </div>
                    <div id="completedhosts" class="cachetable" style="display:none;"></div>
                </div>
                <div id="running-queries" class="">
                    <div id="queries" class="cachetable"></div>
                    <div id="runningstatus" class="status" style="display:none;">
                        <span>
                            <span>uuid</span>
                            <label id="sel_run_uuid"></label>
                        </span>
                        <span>
                            <span>job</span>
                            <label id="sel_run_job"></label>
                        </span>
                        <span>
                            <span>finished hosts</span>
                            <label id="sel_run_progress"></label>
                        </span>

                        <a href="#" class="close_hosts" onclick="QM.closeRunningHosts()">X</a>
                    </div>
                    <div id="runninghosts" class="cachetable"></div>
                </div>
                <table id="browse" class="padme" style="table-layout:fixed">
                    <tr>
                        <td id="browse-left">
                            <div id="treenav"></div>
                            <div class="buttonbar">
                                <button onclick="QM.navToQuery();return false;">convert to query</button>
                                <button onclick="QM.navToQuery(true,true);return false;">get source</button>
                            </div>
                            <div id="nodelist"></div>
                        </td>
                        <td id="browse-right">
                            <table id="table_query" cellspacing=1 cellpadding=1 border=0 width=100% class="render">
                                <tr><th width=5%>name</th><td><input id="qname" type="text" onkeypress="return QM.submitQuery(this.value,event)"/></td></tr>
                                <tr><th width=5%>query</th><td><input id="query" type="text" onkeypress="return QM.submitQuery(this.value,event)"/></td></tr>
                                <tr><th width=5%>ops</th><td><input id="qops" type="text" onkeypress="return QM.submitQuery(this.value,event)"/></td></tr>
                                <tr><th width=5%>rops</th><td><input id="qrops" type="text" onkeypress="return QM.submitQuery(this.value,event)"/></td></tr>
                            </table>
                            <div class="buttonbar">
                                <button onclick="return QM.queryCSV()">csv export</button>
                                <button onclick="return QM.querySave()">save query</button>
                                <button onclick="return QM.queryRaw()">raw query</button>
                            </div>
                            <div id="saved"></div>
                            <div id="graph_options">
                                <button onclick="return QM.toggleGraphOptions()">toggle graph options</button>
                                <div id="graph_type_buttons"></div>
                                <div id="graph_config"></div>
                                <div id="graph_display"></div>
                            </div>
                            <div id="queryinfo"></div>
                        </td>
                    </tr>
                </table>
            </td>
            <td id="right">
                <div class="side-title">Cache</div>
                <div class="side-panel">
                    <button>Disable</button>
                    <button>TTL</button>
                </div>
                <div class="side-separator"></div>
                <div class="side-title">Query</div>
                <div class="side-panel">
                    <button>Trace</button>
                    <button onclick="QM.setPreviewLimit()">Limit</button>
                </div>
                <div class="side-separator"></div>
            </td>
        </tr>
    </table>
    <div id="bottom">
        <span><span>cluster </span><label id="status_cluster">-</label></span>
        <span><span>job </span><label id="status_job">-</label></span>
    </div>
</body>
</html>
