<table>
    <tr><th><label>About</label></th><td id="cluster-about"></td></tr>
    <tr><th><label>Options</label></th><td>
        <button onclick="cluster.manage()">manage</button>
        <button onclick="cluster.setAbout()">set about</button>
        <button onclick="cluster.setAuthKey()">set auth</button>
        <button onclick="cluster.setLocal()" id="cluster-set-local">set local</button>
        <button onclick="cluster.setShortHost()" id="cluster-set-naming">short host names</button>
    </td></tr>
    <tr><th><label>Boot Node</label></th><td id="cluster-hint"></td></tr>
    <tr><th><label>Node Templates</label></th><td id="cluster-templates"></td></tr>
    <tr><th><label>Required Nodes</label></th><td id="cluster-required"></td></tr>
    <tr><th><label>Registered Nodes</label></th><td id="cluster-registered"></td></tr>
</table>
